[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
pre-commit = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"
